#cytoscapeweb {
  border: 1px solid #CCCCCC;
  height: 400px; 
  width: 100%; 
}

#cytoscape-node-details {
   position: absolute;
   top: 0; 
   left: 0;
   padding:10px;
   width:410px;
   display: none;
   border: 1px solid #000000;
   background-color: #FFFFFF;
   opacity: 0.90;
   -moz-opacity: 0.90; 
   z-index: 10;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #000000;
   box-shadow: 10px 10px 5px #888888;
}

#node-details-close a {
	float: right;
	cursor: pointer;
}

#cytoscape-node-label {
   position: absolute;
   top: 0; 
   left: 0;
   padding:10px;
   display: none;
   border: 1px solid #000000;
   background-color: #FFFFFF;
   opacity: 0.90;
   -moz-opacity: 0.90; 
   z-index: 10;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #000000;
}