#tripal-module-explorer-menu {

}

#tripal-module-explorer-menu ul {
  list-style-type: none;	
}

#tripal-module-explorer-menu li {
  float: left;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #AAAAAA;
  cursor: pointer;
  background: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;

}

#tripal-module-explorer-content {
  clear: both;
  border: 1px solid #AAAAAA;
  padding: 20px;
  min-height: 500px;
}

/*
 * Trait Filter form
 */
#networkmod-trait-list {
}
#networkmod-map-list {
}
#edit-traits-wrapper {
  margin-top: 0px;
}
#networkmod_search_form td {
	vertical-align: text-top;
} 
#networkmod-search-match-list {
  max-height: 150px;
  overflow: auto;
}
.networkmod-subtable-list {
  max-height: 150px;
  overflow: auto;
}

#networkmod-search-networks {
  clear: both;
}
#networkmod-search-species .description {
  clear: both;
}
#networkmod-search-networks .description {
  clear: both;
}
#networkmod-search-types .description {
  clear: both;
}
#networkmod-search-annotation  {
	width: 300px;
}

.tripal-network-loading-box {
	 position: fixed;
   top: 40%;
   left: 40%;
   width: 200px;
   min-height: 50px;
   text-align: center;
   border: 1px solid #AAAAAA;
   background: white;
   border-radius: 5px;
   border-radius: 5px;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   box-shadow: 5px 5px 5px #888888;  
   opacity:0.90;
   filter:alpha(opacity=90); /* For IE8 and earlier */ 
   z-index: 100;
}
.tripal-network-loading-box img {
  vertical-align: middle;
}

#edge-info table {
/*   height: 100px;
   overflow: auto; */
}
